body {
    padding-top: 60px;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.checkbox-inline,.pull-right {
    line-height: 20px;
    padding-top: 10px;
    padding-right: 10px;
}