@(encOwnerId: String, githubOauthUrl: String)
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Salesforce Metadata Merger</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/ng-cloak.css")">
        <script>
        var require = {
            callback: function() {
            // default requirejs configs
                @play.api.Play.current.configuration.getString("assets.url").fold {
                    @for(webJarJson <- org.webjars.RequireJS.getSetupJson(StaticWebJarAssets.url("")).values()) {
                        requirejs.config(@Html(webJarJson.toString));
                    }
                } { assetsUrl =>
                    @for(webJarJson <- org.webjars.RequireJS.getSetupJson(StaticWebJarAssets.url(""), routes.WebJarAssets.at("").url).values()) {
                        requirejs.config(@Html(webJarJson.toString));
                    }
                }

                requirejs.config({
                    "paths": {
                        "app-css": "@routes.Assets.versioned("stylesheets/app")"
                    },
                    "shim": {
                        "app-css": ["bootstrap-css"],
                        "angular": {
                            "exports" : "angular",
                            "deps": ["jquery"]
                        }
                    }
                });
            }
        };

        var encOwnerId = "@encOwnerId";
        </script>
        <script data-main="@routes.Assets.versioned("javascripts/app.js")" src="@StaticWebJarAssets.url(WebJarAssets.locate("require.min.js"))"></script>
    </head>
    <body class="ng-cloak" ng-controller="RemoteController">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Salesforce Metadata Merger</a>
                </div>
                <div class="navbar-right">
                    <a href="@githubOauthUrl" class="btn btn-default navbar-btn" ng-hide="isGithubReady">Connect to GitHub</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Salesforce
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.Application.oauthAddProdOrg(encOwnerId)">Production / Developer Org</a></li>
                            <li><a href="@routes.Application.oauthAddSandboxOrg(encOwnerId)">Sandbox Org</a></li>
                            <li><a href="#" class="disabled">Custom Domain</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" ng-show="isGithubReady">
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            GitHub
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            <li ng-repeat="repo in githubRepos"><a href="" ng-click="addRepo(repo)">{{repo.full_name}}</a></li>
                        </ul>
                    </div>
                    <a href="@routes.Application.login()" class="btn btn-default navbar-btn">Logout</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Orgs &amp; Repos</h3>
                        </div>
                        <div class="list-group">
                            <a href="" class="list-group-item" ng-repeat="remote in remotes" ng-click="selectRemote(remote)" ng-class="{active: selectedRemotes.indexOf(remote) >= 0}">
                                <h4 class="list-group-item-heading">{{remote.name}}</h4>
                                <p class="list-group-item-text">{{remote.owner_name}}{{remote.full_name}}</p>
                                <p class="list-group-item-text">{{remote.edition}}{{remote.description}}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default" ng-if="selectedRemotes.length == 0">
                        <div class="panel-body">
                            <p>Select one org / repo to view metadata.</p>
                            <p>Select two orgs / repos to diff &amp; merge metadata.</p>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-if="selectedRemotes.length == 1">
                        <div class="panel-heading">
                            {{viewRemoteData.name}} {{viewRemoteData.owner_name}}{{viewRemoteData.full_name}}
                            <div style="position: absolute; top: 5px; right: 20px;">
                                <a class="btn btn-default btn-sm" target="_blank" ng-href="{{viewRemoteData.login_url + '&retURL=/setup/forcecomHomepage.apexp'}}" ng-show="viewRemoteData.org">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Setup
                                </a>
                                <a class="btn btn-default btn-sm" target="_blank" ng-href="{{viewRemoteData.login_url + '&retURL=/_ui/common/apex/debug/ApexCSIPage'}}"  ng-show="viewRemoteData.org">
                                    <span class="glyphicon glyphicon-wrench"></span>
                                    Dev Console
                                </a>
                                <a class="btn btn-default btn-sm" target="_blank" ng-href="{{viewRemoteData.html_url}}"  ng-show="viewRemoteData.repo">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    GitHub Repo
                                </a>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <h4 style="display: inline-block">Apex Classes</h4>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="apexclass in viewRemoteData.apexclasses">
                                        <h5>{{apexclass.Name}}</h5>
                                        <div hljs source="apexclass.Body"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="selectedRemotes.length == 2">
                        <div class="row">
                            <div class="col-md-5 no-side-padding">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        Merge From: {{fromRemoteData.name}} {{fromRemoteData.owner_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default btn-block" aria-label="flip" ng-click="flipSelected()">
                                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                                </button>
                            </div>
                            <div class="col-md-5 no-side-padding">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        Merge To: {{toRemoteData.name}} {{toRemoteData.owner_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div style="padding-bottom: 10px">
                                        <h4 style="position: absolute">Apex Classes</h4>
                                        <button class="btn btn-default btn-sm center-block" ng-show="mergeAll() && hasData(diffData.apexclasses)" ng-click="forceMergeAll()">
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                            Merge All
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                        </button>
                                        <button class="btn btn-default btn-sm center-block" ng-show="!mergeAll() && hasData(diffData.apexclasses)" ng-click="forceMergeSelected()">
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                            Merge Selected
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                        </button>
                                        <label class="checkbox-inline pull-right" style="position: absolute; top: 10px; right: 10px;">
                                            <input type="checkbox" ng-show="hasData(diffData.apexclasses)" ng-model="pos.isSelectAll" ng-change="updateSelection()">{{pos.isSelectAll ? "Unselect All" : "Select All"}}
                                        </label>
                                        <span ng-show="!hasData(diffData.apexclasses)" style="padding-top: 40px; display: block;">No differences</span>
                                    </div>
                                    <div ng-repeat="apexClass in diffData.apexclasses">
                                        <label class="checkbox-inline pull-right">
                                            <input type="checkbox" ng-model="apexClass.selectedForMerge">{{getActionLabel(apexClass)}}
                                        </label>
                                        <div ng-bind-html="apexClass.diff"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>